In [ ]:
# What are DataFrames ???

# A DataFrame is a distributed collection of data organised into named columns.
# It is conceptually equivalent to a table in a relational database or a 
# dataframe in R/Python.
# It can be constructed through
# 1) Reading from CSV files/External Sources
# 2) Existing RDD's

In [ ]:
# Features of DataFrames

#  Ability to scale from kilobytes of data on a single laptop to petabytes on a large cluster
#  Support for a wide array of data formats and storage systems
#  State-of-the-art optimization and code generation through the Spark SQL Catalyst optimizer
#  Seamless integration with all big data tooling and infrastructure via Spark
#  APIs for Python, Java, Scala, and R (in development via SparkR)

In [1]:
# Similar to sc, entry point to all functionality in sparkSQL is SQLContext.
# For Creating basic SQLContext
# from pyspark.sql import SQLContext
# sqlContext = SQLContext(sc)
# sqlContext

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
sqlContext

NameError: name 'sc' is not defined

In [24]:
# Create Dataframes.
df = (sqlContext.read.
      format('com.databricks.spark.csv')
      .options(header='true', inferschema='true')
      .load('/home/affine/Desktop/Training_Questions/dataframeinput.csv')
      )
df.show(2,False)

+------+---+--------+------+
|Name  |Age|BankName|Money |
+------+---+--------+------+
|Ramesh|23 |SBI     |400000|
|Suresh|24 |PNB     |500000|
+------+---+--------+------+
only showing top 2 rows

In [25]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- BankName: string (nullable = true)
 |-- Money: integer (nullable = true)

In [29]:
# DataFrame Operations
df.show()

+------+---+--------+-------+
|  Name|Age|BankName|  Money|
+------+---+--------+-------+
|Ramesh| 23|     SBI| 400000|
|Suresh| 24|     PNB| 500000|
|Himesh| 18|   ICICI| 100000|
|Ganesh| 50|    HDFC|1000000|
|Vikash| 45|Yes Bank|5000000|
|Mukesh| 30|     SBI|2000000|
|Mikesh| 50|   ICICI| 300000|
+------+---+--------+-------+

In [9]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- BankName: string (nullable = true)
 |-- Money: string (nullable = true)

In [30]:
abc = 'Name'
df[abc]
df1 = df

df.filter(df['Money']>=1000000).select('Name').show()
#f.select('Name').filter(df['Money']>100000).show()

+------+
|  Name|
+------+
|Ganesh|
|Vikash|
|Mukesh|
+------+

In [31]:
abc = "xyz"+"100"
print(abc)

xyz100

In [34]:
# selecting required columns using two different ways of df['Name'] and df.Age
df.select('Name','Age',df['Money']+100000).show()

+------+---+----------------+
|  Name|Age|(Money + 100000)|
+------+---+----------------+
|Ramesh| 23|          500000|
|Suresh| 24|          600000|
|Himesh| 18|          200000|
|Ganesh| 50|         1100000|
|Vikash| 45|         5100000|
|Mukesh| 30|         2100000|
|Mikesh| 50|          400000|
+------+---+----------------+

In [38]:
colName = 'Money'

In [39]:
# filter
df.filter(df[colName]>=1000000).show()

+------+---+--------+-------+
|  Name|Age|BankName|  Money|
+------+---+--------+-------+
|Ganesh| 50|    HDFC|1000000|
|Vikash| 45|Yes Bank|5000000|
|Mukesh| 30|     SBI|2000000|
+------+---+--------+-------+

In [34]:
df.groupBy('BankName').count().show()
#count1.show()

+--------+-----+
|BankName|count|
+--------+-----+
|Yes Bank|    1|
|    HDFC|    1|
|     SBI|    2|
|   ICICI|    2|
|     PNB|    1|
+--------+-----+

In [35]:
# groupBy
count1 = df.groupBy('BankName').count()
count1.agg({'count':'max'}).show()
count1.show()

+----------+
|max(count)|
+----------+
|         2|
+----------+

+--------+-----+
|BankName|count|
+--------+-----+
|Yes Bank|    1|
|    HDFC|    1|
|     SBI|    2|
|   ICICI|    2|
|     PNB|    1|
+--------+-----+

In [37]:
# join
df1 = df
df1.join(df,df1.Age==df.Age).show()

+------+---+--------+-------+------+---+--------+-------+
|  Name|Age|BankName|  Money|  Name|Age|BankName|  Money|
+------+---+--------+-------+------+---+--------+-------+
|Vikash| 45|Yes Bank|5000000|Vikash| 45|Yes Bank|5000000|
|Ganesh| 50|    HDFC|1000000|Ganesh| 50|    HDFC|1000000|
|Ganesh| 50|    HDFC|1000000|Mikesh| 50|   ICICI| 300000|
|Mikesh| 50|   ICICI| 300000|Ganesh| 50|    HDFC|1000000|
|Mikesh| 50|   ICICI| 300000|Mikesh| 50|   ICICI| 300000|
|Himesh| 18|   ICICI| 100000|Himesh| 18|   ICICI| 100000|
|Ramesh| 23|     SBI| 400000|Ramesh| 23|     SBI| 400000|
|Suresh| 24|     PNB| 500000|Suresh| 24|     PNB| 500000|
|Mukesh| 30|     SBI|2000000|Mukesh| 30|     SBI|2000000|
+------+---+--------+-------+------+---+--------+-------+

In [47]:
# Columns
col = df.columns
print(col)

['Name', 'Age', 'BankName', 'Money']

In [48]:
# count rows
df.count()

7

In [49]:
# Describe   ---->>> it computes statistics for numeric columns
df.describe().show()

+-------+------------------+------------------+
|summary|               Age|             Money|
+-------+------------------+------------------+
|  count|                 7|                 7|
|   mean|34.285714285714285|1328571.4285714286|
| stddev|13.695671891930989|1739458.0436774797|
|    min|                18|            100000|
|    max|                50|           5000000|
+-------+------------------+------------------+

In [50]:
df.distinct().show()

+------+---+--------+-------+
|  Name|Age|BankName|  Money|
+------+---+--------+-------+
|Himesh| 18|   ICICI| 100000|
|Mikesh| 50|   ICICI| 300000|
|Suresh| 24|     PNB| 500000|
|Ganesh| 50|    HDFC|1000000|
|Vikash| 45|Yes Bank|5000000|
|Mukesh| 30|     SBI|2000000|
|Ramesh| 23|     SBI| 400000|
+------+---+--------+-------+

In [42]:
df.select('BankName').distinct().show()

+--------+
|BankName|
+--------+
|Yes Bank|
|    HDFC|
|     SBI|
|   ICICI|
|     PNB|
+--------+

In [36]:
# Drop Columns
df1 = df.drop('Age')
df.show()
df1.show()

+------+---+--------+-------+
|  Name|Age|BankName|  Money|
+------+---+--------+-------+
|Ramesh| 23|     SBI| 400000|
|Suresh| 24|     PNB| 500000|
|Himesh| 18|   ICICI| 100000|
|Ganesh| 50|    HDFC|1000000|
|Vikash| 45|Yes Bank|5000000|
|Mukesh| 30|     SBI|2000000|
|Mikesh| 50|   ICICI| 300000|
+------+---+--------+-------+

+------+--------+-------+
|  Name|BankName|  Money|
+------+--------+-------+
|Ramesh|     SBI| 400000|
|Suresh|     PNB| 500000|
|Himesh|   ICICI| 100000|
|Ganesh|    HDFC|1000000|
|Vikash|Yes Bank|5000000|
|Mukesh|     SBI|2000000|
|Mikesh|   ICICI| 300000|
+------+--------+-------+

In [44]:
df.show()

+------+---+--------+-------+
|  Name|Age|BankName|  Money|
+------+---+--------+-------+
|Ramesh| 23|     SBI| 400000|
|Suresh| 24|     PNB| 500000|
|Himesh| 18|   ICICI| 100000|
|Ganesh| 50|    HDFC|1000000|
|Vikash| 45|Yes Bank|5000000|
|Mukesh| 30|     SBI|2000000|
|Mikesh| 50|   ICICI| 300000|
+------+---+--------+-------+

In [54]:
# drop Duplicates on the basis of list of columns
df1=df.dropDuplicates(['BankName']).show()

+------+---+--------+-------+
|  Name|Age|BankName|  Money|
+------+---+--------+-------+
|Vikash| 45|Yes Bank|5000000|
|Ganesh| 50|    HDFC|1000000|
|Ramesh| 23|     SBI| 400000|
|Himesh| 18|   ICICI| 100000|
|Suresh| 24|     PNB| 500000|
+------+---+--------+-------+

In [41]:
# Returns the first row
df.first()

23

In [65]:
# returns first n rows
df.head(4)

[Row(Name='Ramesh', Age=23, BankName='SBI', Money=400000),
 Row(Name='Suresh', Age=24, BankName='PNB', Money=500000),
 Row(Name='Himesh', Age=18, BankName='ICICI', Money=100000),
 Row(Name='Ganesh', Age=50, BankName='HDFC', Money=1000000)]

In [51]:
# Sorting on the basis of columns
df.sort('Money',ascending=False).show()

+------+---+--------+-------+
|  Name|Age|BankName|  Money|
+------+---+--------+-------+
|Vikash| 45|Yes Bank|5000000|
|Mukesh| 30|     SBI|2000000|
|Ganesh| 50|    HDFC|1000000|
|Suresh| 24|     PNB| 500000|
|Ramesh| 23|     SBI| 400000|
|Mikesh| 50|   ICICI| 300000|
|Himesh| 18|   ICICI| 100000|
+------+---+--------+-------+

In [20]:
# union of two dataframes
df1 =df
df1.unionAll(df).show()

In [69]:
list1= ["Name","BankName","Age","Money"]
df3 = df.select(list1).show()

+------+--------+---+-------+
|  Name|BankName|Age|  Money|
+------+--------+---+-------+
|Ramesh|     SBI| 23| 400000|
|Suresh|     PNB| 24| 500000|
|Himesh|   ICICI| 18| 100000|
|Ganesh|    HDFC| 50|1000000|
|Vikash|Yes Bank| 45|5000000|
|Mukesh|     SBI| 30|2000000|
|Mikesh|   ICICI| 50| 300000|
+------+--------+---+-------+

In [ ]:
# Creating Udf (User Defined Functions) to work on columns
# Creating udf is a three step process
# a) Create a python function which u want to apply on each cell
# b) register that python function or create udf out of this python func.
# c) call the udf created.
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
def yesNo(x,y):
    if(x>=23 and y>=100000):
        return 'Yes'
    else:
        return 'NO'
    
udfyesNo = udf(yesNo,StringType())
df1 = df.withColumn('YES_NO',udfyesNo('Age','Money'))
df1.show()